body{
	 margin:0;
	 padding:0;
}

h1.login-header {
    color:#FFF;
    font-size:1.1em;
	text-align:center;
	text-shadow:0 1px 3px #161616;
    margin-bottom: 20px;
}


#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.login-popup{
	display:none;
	background: #333;
	padding: 10px;
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 49%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}

#login-box {
    width: 340px;
	padding: 15px 15px 15px;
}

#login-box input[type="text"] {
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;

	font:18px Arial, Helvetica, sans-serif;
	padding:6px 6px ;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
	width:240px;
}

.ok-button {
	background: rgba(153, 204, 255, 0.25);
	padding: 4px 10px 4px;
	border:1px solid;
	cursor: pointer;

	font-size:18px;
	font-family:Oswald, sans-serif; 
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.ok-button:hover { background:#444; }