/* Button classes */
.btnGeneral
{
	border-radius: 5px;
    cursor: pointer;
}

.BtnOk
{
	background:url('images/Ok.png') no-repeat;
	opacity: 1;
	margin-left: 3px;
	margin-right: 3px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	border: none;
}

.BtnDelete
{
	background:url('images/Delete.png') no-repeat;
	opacity: 1;
	margin-left: 3px;
	margin-right: 3px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	border: none;
}

.BtnEdit
{
	background:url('images/Edit.png') no-repeat;
	opacity: 1;
	margin-left: 3px;
	margin-right: 3px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	border: none;
}

.BtnAdd
{
	background:url('images/Add.png') no-repeat;
	opacity: 1;
	margin-left: 3px;
	margin-right: 3px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	border: none;
}

.BtnGo
{
	background:url('images/GoArrow_40x40.png') no-repeat;
	opacity: 1;
	margin-left: 3px;
	margin-right: 3px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
}

.BtnSave
{
	background:url('images/Save.png') no-repeat;
	opacity: 1;
	margin-left: 3px;
	margin-right: 3px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	border: none;
}

.BtnHome
{
    background:url('images/home_white_40x40.png') no-repeat;
	opacity: 1;
	margin-left: 3px;
	margin-right: 3px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
}

.BtnArrow
{
	background:url('images/arrow.png') no-repeat;
    opacity: 1;
    cursor: pointer;
    border: none;
    width: 128px;
    height: 128px;
}

.BtnMain
{
    background: rgba(153, 204, 255, 0.25);
	padding: 8px 14px 10px;
	border:1px solid;
	cursor: pointer;

	font-size:1.5em;
	font-family:Oswald, sans-serif; 
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
    color: #000;

    -webkit-box-shadow: 3px 3px 3px #205c73;
    -moz-box-shadow: 3px 3px 3px #205c73;
    box-shadow: 3px 3px 3px #205c73;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

input.BtnMain:hover, input.BtnMain:focus{
	border-color:#dfe7ea;
    
	-webkit-box-shadow: 1px 1px 1px #205c73;
    -moz-box-shadow: 1px 1px 1px #205c73;
    box-shadow: 1px 1px 1px #205c73;
}

#btnReset, #btnRevealVotes {
    background: rgba(153, 204, 255, 0.25);
	padding-left: 4px;
    padding-right: 4px;
	border:1px solid rgb(60, 60, 60);
	cursor: pointer;

	font-size:1.1em;
    color: #000;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input.BtnMedium:hover 
{
	-webkit-box-shadow: 1px 1px 1px #205c73;
    -moz-box-shadow: 1px 1px 1px #205c73;
    box-shadow: 1px 1px 1px #205c73;
}

.btnSession
{
	font-family: "Helvetica";
	font-size: large;
}