﻿#mainChatDiv {
    position: fixed;
    right: 0px;
    bottom: 0px;

    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-left: 1px solid rgb(60,60,60);
    border-right: 1px solid rgb(60,60,60);
    border-top: 1px solid rgb(40,40,40);

    transition: width 0.5s, height 0.5s;
    -moz-transition: width 0.6s, height 0.3s; /* Firefox 4 */
    -webkit-transition: width 0.5s, height 0.5s; /* Safari and Chrome */
    -o-transition: width 0.6s, height 1.6s; /* Opera */

    box-shadow: 1px -1px 1px #282828;
    -moz-box-shadow: 1px -1px 1px #282828;
    -webkit-box-shadow: 1px -1px 1px #282828;
}

.chatCollapsed{
    width: 200px;
    height: 25px;
}

.chatExpanded {
    width: 300px;
    height: 400px;
}

#chatHeaderDiv {
    background-color: rgba(60, 60, 60, 1);
    width: 100%;
    height: 25px;
    cursor: pointer;
}

#chatHeaderDiv > h1 {
    margin: 0px;
    margin-left: 5px;
    font-family: 'Whitney Cond A', 'Whitney Cond B', "ronnia-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.1;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0 -1px 1px #888;
}

#chatTextDiv {
    position: relative;
    width: 300px;
    height: 345px;
    float: left;
    text-align: left;
    overflow-y:auto;
    padding-top: 5px;
}

#chatInputDiv
{
    width: 300px;
    margin-top: 5px;
}

#chatInputText
{
	width: 220px;
    padding-left: 5px;
    margin-top: 5px;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 1px rgb(249, 249, 249), inset 0 1px 0 0 rgb(229, 229, 229), 0 -1px 0 0 rgb(121, 121, 121);
}

.chatTextMessage
{
    margin: 3px;
}

#chatName
{
    font-weight: 700;
    color: rgb(60, 60, 60);
}

.left
{
    float: left;
}

.center
{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.right
{
    position: absolute;
    right: 5px;
}

#toggleChat
{
    position: absolute;
    right: 5px;
    margin-right: 10px;
    font-family: 'Whitney Cond A', 'Whitney Cond B', "ronnia-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 0.9;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

#chatIcon
{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 25px;
    background-image: url("images/ChatIcon_small.png");
    background-repeat: no-repeat;
}