body
{
	overflow-x: hidden;
	font-family: "Helvetica";
    background-repeat: no-repeat;
    background-size: 2000px;
    background-color: rgb(240, 240, 240);
	padding: 0px;
	margin: 0px;
}

#CreateOrJoinDiv
{
	position: absolute;
	width: 350px;
	height:170px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    border: 1px solid gray;
	padding: 15px;
	font-family: "Helvetica";
	background-color:#6495ed;
	border-radius: 15px;
	text-shadow: 0 -1px 1px #888;
	box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
}

.headerDiv
{
	color: white;
	font-weight: bold;
    background-color: rgb(60, 60, 60);
    border-bottom: 1px solid black;
	width: 100%;
    height: 50px;
	padding: 0px;
	margin: 0px;
	box-shadow: 0px 1px 1px rgb(40, 40, 40);
    -moz-box-shadow: 0px 1px 1px rgb(40, 40, 40);
    -webkit-box-shadow: 0px 1px 1px rgb(40, 40, 40);
}

h1 
{
    color: white;
	font-weight: bold;
    font-family:Oswald, sans-serif; 
    text-shadow: 0 -1px 1px #888;
    padding: 0px;
    margin: 0px;
    font-size: 1.6em;
}

h2 
{
    display: inline;
	margin: 0px;
	padding: 5px;
	font-size:1.1em;
	font-family:Oswald, sans-serif; 
    letter-spacing:.05em;
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.75);
    color: #FFF;
}

.headerTable
{
    width: 100%;
}

.headerTable td:first-child
{
	width: 20%;
    text-align: left;
}

.headerTable td:nth-child(2)
{
	width: 60%;
    text-align: center;
}

.headerTable td:last-child
{
	width: 20%;
    text-align: right;
}

#sessionTitleDiv
{   
    position: relative;
    top: 15px;
    width: 95%;
    max-width: 420px;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #6495ed;
    text-align: center;
    border: 1px solid gray;
    border-spacing: 0;

    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;

    -moz-box-shadow: 2px 6px 10px darkgray;
    -webkit-box-shadow: 2px 6px 10px darkgray;
    box-shadow: 2px 6px 10px darkgray;
}

/* Text input class */
.txtGeneral
{
	border-radius: 5px;
}

#txtSessionName
{
    font-size:1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Blue table class */
.blueTable {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid gray;
    margin: 20px;
    padding: 0px;
    border-spacing: 0;
    background-color: rgba(255,255,255, 0.9);

    -moz-box-shadow: 2px 6px 10px darkgray;
    -webkit-box-shadow: 2px 6px 10px darkgray;
    box-shadow: 2px 6px 10px darkgray;
}

.blueTable th {
    padding:10px 10px 10px 10px;
    background: #6495ed;
}

.blueTable th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
    background-color: #6495ed;
    text-align: center;
}

.blueTable th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
    background-color: #6495ed;
    text-align: center;
}

.blueTable th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background-color: #6495ed;
}

.blueTable tbody tr td {
    border-top: 1px solid gray;
    padding-left: 3px;
    padding-right: 3px;
}

.blueTable tbody tr td:nth-child(2) {
    border-left: 1px solid gray;
}

.blueTable tfoot td:first-child
{
	-moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
	background-color: #6495ed;
}

.blueTable tfoot td:last-child
{
	-moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
	background-color: #6495ed;
}

.blueTable tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    background-color: #6495ed;
}

.blueTable tr:hover
{
	background: #d0dafd;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;     
}

.blueTable tbody tr.selected
{
    background-color: rgba(150, 150, 150, 0.5);
}

#mainTablesDiv {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 240px;
    overflow: auto;
}

#userTableDiv {
    float: right;
    width: 44%;
    max-width: 450px;
    min-width: 200px;
    padding: 8px;
}

#voteTableDiv {
    float: left;
    width: 44%;
    max-width: 450px;
    min-width: 200px;
    padding: 8px;
}

#tblUsers {
    width: 100%;
    min-width: 200px;
    max-width: 430px;
    margin: 0px;
    text-align: center;
}

#tblVote {
    width: 100%;
    min-width: 200px;
    max-width: 430px;
    margin: 0px;
    text-align: center;
}

#tblNewVotingOptions {
    width: 95%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
}

#tblNewVotingOptions tbody tr td:last-child{
     width: 50px;
}

#tblNewVotingOptions thead tr th:last-child{
     width: 50px;
}

.voteCellDiv {
    cursor: pointer;
    text-align: center;
}

.voteCellDivClicked {
    cursor: none;
	background: #d0dafd;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;     
}

/* Sessions Page */
#tblSessions
{
	position: relative;
    top: 40px;
    width: 90%;
	max-width:400px; 
    min-width:220px; 
    margin: 0 auto;  
}

#tblSessions th:first-child
{
	width: 100%
}

#tblSessions tr td:first-child
{
    cursor: pointer;
}

/* General Style*/

.tblTextArea
{
	width: 98%;
    margin-top: 5px;

    text-align: left;
    font-size:1.2em;
    line-height: 20px;
    border: 1px solid rgb(128,128,128);
}

.sessionDiv
{
	width: 100%;
	text-align: left;
}

.link 
{
    font-size: small;
    margin-bottom: 10px;
    padding: 10px;
    color: darkblue;
    cursor: pointer;
}

/* Media Queries */
/*===============*/

@media screen and (max-width: 480px) {

    #voteTableDiv {
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    #userTableDiv {
        width: 80%;
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 700px) {
    h1 { 
        font-size: 1.2em;
    }
}

@media screen and (max-device-width: 700px) {
    #voteTableDiv {
        width: 95%;
        max-width: 450px;
        min-width: 200px;
        padding: 4px;
    }

    #userTableDiv {
        width: 95%;
        max-width: 450px;
        min-width: 200px;
        padding: 4px;
    }

    #tblUsers tbody tr {
        line-height: 30px;
        height: 30px;
    }

    #tblVote tbody tr {
        line-height: 30px;
        height: 30px;
    }
}